@font-face {
    font-family: "Rubik";
    src: url(./Rubik-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    font-display: block;
  }
@font-face {
    font-family: "Rubik";
    src: url(./Rubik-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    font-display: block;
  }
@font-face {
    font-family: "Rubik";
    src: url(./Rubik-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    font-display: block;
  }